* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: OpenSans, Arial, sans-serif;
}

.font-regular,
p {
  font-weight: normal;
  font-family: "OpenSans-Regular";
}

.font-bold {
  font-weight: 700;
  font-family: "OpenSans-Bold";
}

header {
  display: block;
  position: relative;
  background: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 115px;
  z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

.logo {
  display: block;
  position: relative;
  width: 180px;
  margin-left: 5px;
  margin-top: 17px;
  z-index: 3;
}

.menu-list {
  display: flex;
  position: relative;
  margin-top: 26px;
  margin-right: 5px;
  z-index: 3;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 32px;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.header-title {
  display: block;
  position: relative;
  width: 720px;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  color: #ffffff;
  line-height: 1.67;
  text-transform: uppercase;
  z-index: 3;
}

.blog {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 64px 15px 60px 15px;
}

.blog,
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.article {
  display: flex;
  width: 780px;
  justify-content: space-between;
}

.article:nth-child(n+2) {
  margin-top: 54px;
}

.picture {
  box-sizing: border-box;
  width: 380px;
  height: 300px;
}

.post-info {
  box-sizing: border-box;
  width: 370px;
  margin-top: -7px;
}

.tag {
  display: flex;
  heigth: 14px;
  padding-bottom: 5px;
}

.tag-title {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
}

.article-title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  padding-bottom: 25px;
}

.text-info,
p {
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
}

.right-info {
  display: block;
  margin-bottom: 45px;
}

.date {
  font-size: 12px;
  color: #888888;
}

.author {
  font-size: 12px;
  margin-left: 8px;
  color: #000000;
}

.aside {
  width: 270px;
  margin-top: -5px;
}

.section-items {
  display: block;
  margin-bottom: 60px;
}

.centered {
  text-align: center;
}

.right-section {
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.right-section::after {
  content: "";
  display: block;
  border: 2px solid #b59f5b;
  width: 67px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.post-item {
  margin-bottom: 14px;
  justify-content: space-between;
}

.img {
  width: 70px;
  height: 70px;
}

.left-image {
  order: 0;
}

.right-text {
  order: 1;
  margin-top: -5px;
}

.mini-title {
  width: 180px;
  text-transform: uppercase;
  font-size: 14px;
  line-heigt: 1.3;
  color: #000000;
  margin-top: 2px;
}

.form-r {
  display: flex;
  width: 100%;
}

.search-field {
  box-sizing: borderbox;
  width: 220px;
  height: 48px;
  border: none;
  padding: 15px 20px;
  background-color: #f3f7f5;
  font-family: inherit;
}

.search-field:focus {
  outline: 2px solid #b59f5b;
}

.search-button {
  height: 48px;
  width: 50px;
  border: none;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: 16px 16px;
}

.search-button:focus {
  outline: 2px solid #684f3e;
}

.field {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 12px 20px;
  background-color: #f3f7f5;
  font-family: inherit;
}

.field:focus {
  outline: 2px solid #b59f5b;
}

.submit {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 15px 20px;
  background-color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.list-tag {
  display: block;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  border: 4px solid #eeeeee;
  padding: 0 13px;
  margin-right: 5px;
  margin-top: 5px;
}

.list-theme {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 270px;
  font-family: "OpenSans-Bold";
  font-weight: 900;
  font-style: normal;
  border-bottom: 2px solid #f0f1fb;
}

.theme {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.small-numeral {
  display: block;
  font-size: 11px;
  color: #b59f5b;
  margin-left: 5px;
  margin-top: 4px;
}

.color-a {
  color: #000000;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.socials-box {
  display: block;
  background-color: #f3f7f5;
  padding: 25px 0;
}

.socials-links {
  display: flex;
  justify-content: center;
 }

 ul.socials-links li a {
  display: block;
  width: 48px;
  height: 35px;
  background-position: center;
  background-size: 25px 25px;
}

.socials-link-twitter {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  background-repeat: no-repeat;
}

.socials-link-pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  background-repeat: no-repeat;
}

.socials-link-facebook {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  background-repeat: no-repeat;
}

.socials-link-instagram {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  background-repeat: no-repeat;
}

.socials-link-tubmir {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
}

span.invisible-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyright-footer {
  width: 1200px;
  height: 127px;
  padding-top: 68px;
  text-align: center;
}

.copyright {
  display: inline-block;
  font-size: 13px;
  color: #999999;
  font-weight: 700;
}
